.comments_container li{
    list-style-type: none;
}

.lessoncart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0;
    list-style: none;
}

.thelesson {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 300px;
    margin: 10px;
    transition: transform 0.2s ease-in-out;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.thelesson > .btns{
    display: flex;
    justify-content: center;
    position: relative;
    top: 15px;
    margin: 5px;
}
.thelesson:hover {
    transform: scale(1.05);
}

.thelesson a {
    text-decoration: none;
    color: #007bff;
    font-size: 1.2em;
    display: block;
    margin-bottom: 10px;
}

.thelesson a:hover {
    text-decoration: underline;
}